<html>

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/signIn.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Sign In</h1>
	</div>
	<!--This div allows for error messages to be displayed when one is available-->	
	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<!-- This is the HTML form which submits employeeID and password to be validated during the sign in action-->
		<!-- Need to invoke the method to be define in "Sign-in - Server Side Funcitonality" task of Sprint 2 -->
		<!-- Must Validate in SignInRouteController which is where invoking validateForm() from-->
		<form action="/" method="POST" onsubmit="return validateForm();" class="inputContent">
			<div>
				<input id="employeeId" type="number" name="employeeId" placeholder="Employee ID" class="update" value="<% if (locals.employeeId && (locals.employeeId.trim() !== '')) { %><%= locals.employeeId %><% } %>" />
			</div>
			<div>
				<input id="password" type="password" name="password" placeholder="Password" class="update" />
			</div>
			<br /><br />
			<div>
				<input type="submit" value="Sign In" class="submit" />
			</div>
		</form>
	</div>
		
</body>

</html>